* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: black;
}


header a{
    background-color: white;
    border-width: 2px;
    border-color: blueviolet;
    padding: 12px;
    font-weight: bolder;
    border-radius: 10px;
}
header a[href="#"] {
   border: 5cap;
   background: #D2CCFF;
   padding: 12px;
}




